<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rent-a-Ride</title>
    <link rel="stylesheet" href="/public/css/main.css">
     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 

</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>


