<h1>Welcome to Rent-a-Ride</h1>
<h2>Enjoy your holidays with our wheels</h2>
<div>
    <form id="welcome-id" method="POST" action="/home">
    <label>
        Zip Code
        <input type="number" placeholder="Zip Code" name="zip" id="zip-id" required>
     </label>
        <button type="submit">Go</button>
   
    </form>

 
</div>